.cocktail {
  padding: 50px;
  color: aliceblue;
  font-size: 72pt;
}
.cocktail h3 {
  font-size: 36pt;
}

.cocktail p {
  color: aliceblue;
  font-size: 18pt;
}

#contact-us {
  padding: 50px;
  margin-top: 80px;
}

#cocktail-img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}